body{
    font-family: Arial;
    background: #f2f2f2;
}

.card{
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.foto{
    width: 200px;
    height: 200px;
    object-fit: cover;
    background: white;
    border-radius: 10px;
    border: 2px solid #333;
}
h1,h3{color:#333}
p{line-height:1.6}


.range {
    width: 100%;
    accent-color: #1e90ff; 
    margin-bottom: 10px;
}
.marquee {color:hsla(210, 97%, 52%, 0.999);font-weight:bold}

.navigasi :link {
    color : #0b7ff3;
}
.card {
  animation: muncul 1s ease-in-out;
}

@keyframes muncul {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.dark {
  background-color: #121212;
  color: white;
}

.dark .card {
  background-color: #1e1e1e;
  color: white;
}
.clock-box {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
  width: fit-content;
  padding: 10px 18px;
  border-radius: 12px;
  font-family: 'Courier New', monospace;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

#jam {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

#tanggal {
  font-size: 14px;
  opacity: 0.9;
}
.logo {
  width: 150px;
  height: 100px;
  margin-right: 10px;
  animation: melayang 3s ease-in-out infinite;
}

@keyframes melayang {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
.logo-box {
  position: relative;
  display: inline-block;
}

.logo {
  width: 150px;
  animation: melayang 3s ease-in-out infinite;
}

#petirCanvas {
  position: absolute;
  top: -20px;
  left: -40px;
  pointer-events: none;
}

@keyframes melayang {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

